<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class ="ion-text-center">Catalogo</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-item>
      <ion-button (click)="cargandoProducto(-1)">anterior</ion-button>
      <ion-button (click)="cargandoProducto(+1)">avanzar</ion-button>
  </ion-item>
  <ion-list>
    <ion-item *ngFor="let reg of lProductos">
      <ion-thumbnail slot="start">
        <img [src]="reg.thumbnail" alt="Imagen del producto" />
      </ion-thumbnail>
      
      <ion-label>
        <h2>{{ reg.title }}</h2>     
        <p>{{ reg.price | currency }}</p>   
        <p>{{ reg.discountPercentage }}%</p>
      </ion-label>

      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>