<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="6">
        <ion-card>
          <ion-card-header>
            <div class="ion-text-center">
              <img src="assets/imgs/welcome.png" alt="Bienvenido" class="welcome-image">
            </div>
            <ion-card-title class ="ion-text-center">
              Bienvenido
            </ion-card-title> 
          </ion-card-header> 
          <ion-card-content>
              <form [formGroup]="formulario" (submit)="validarFormulario()">
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-input formControlName="usuario" value="michaelw" label="Usuario" labelPlacement="floating" fill="outline" type="text"></ion-input> 
                    </ion-col> 
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-input formControlName="contrasenia" value="michaelwpass"label="Contraseña" labelPlacement="floating" fill="outline" type="password"></ion-input> 
                    </ion-col> 
                  </ion-row>
                  <ion-row>
                  <ion-col>
                    <ion-button role="submit" type="submit" expand="block" [disabled]="cargando_bloqueo"> 
                      <ion-text *ngIf="!cargando_bloqueo">
                        Iniciar Sesión
                      </ion-text>
                      <ion-spinner *ngIf="cargando_bloqueo" name="circular"></ion-spinner>
                     </ion-button>
                  </ion-col>
                  </ion-row>         
                </ion-grid>
              </form>
          </ion-card-content> 
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

